/* line 5, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.2.2/gemsets/web-design-demos/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../sass/agents.scss */
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: #efefef;
}

/* line 18, ../../sass/agents.scss */
.hero {
  max-width: 100em;
  min-height: 28em;
  margin: 0 auto;
  background-image: url("/images/find-an-agent-hero.jpg");
  background-size: cover;
  color: #fff;
}
/* line 29, ../../sass/agents.scss */
.hero header {
  overflow: hidden;
  *zoom: 1;
}
/* line 30, ../../sass/agents.scss */
.hero header img {
  height: 2em;
  margin: 1em 2em;
  float: left;
}
/* line 36, ../../sass/agents.scss */
.hero header ul {
  float: right;
}
/* line 39, ../../sass/agents.scss */
.hero header ul li {
  float: left;
  margin: 1em 0.5em;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* line 45, ../../sass/agents.scss */
.hero header ul li:last-child {
  border: 1px solid #fff;
}
/* line 53, ../../sass/agents.scss */
.hero h1 {
  padding: 2em 0 0.5em 0;
  font-size: 3em;
}
/* line 58, ../../sass/agents.scss */
.hero h2 {
  font-size: 2em;
  color: #d9dada;
}

/* line 64, ../../sass/agents.scss */
form {
  padding: 2em 0 2em 0;
}
/* line 67, ../../sass/agents.scss */
form input {
  padding: 1em;
  border: 0;
}
/* line 71, ../../sass/agents.scss */
form input[type="text"] {
  width: 18em;
  background-color: #efefef;
  border-radius: 2px 0 0 2px;
  opacity: 0.3;
}
/* line 78, ../../sass/agents.scss */
form input[type="submit"] {
  width: 6em;
  color: #fff;
  background-color: #6cdcac;
  border-radius: 0 2px 2px 0;
}
/* line 85, ../../sass/agents.scss */
form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: blue;
}
/* line 88, ../../sass/agents.scss */
form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: blue;
}
/* line 91, ../../sass/agents.scss */
form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: blue;
}
/* line 94, ../../sass/agents.scss */
form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: blue;
}

/* line 99, ../../sass/agents.scss */
.numbers {
  width: 80%;
  margin: 0 auto;
}
/* line 103, ../../sass/agents.scss */
.numbers ul {
  position: relative;
  top: -4em;
  background-color: #efefef;
  overflow: hidden;
  *zoom: 1;
}
/* line 108, ../../sass/agents.scss */
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-top: 1px solid #d9dada;
  border-bottom: 1px solid #d9dada;
  border-left: 1px solid #d9dada;
}
/* line 116, ../../sass/agents.scss */
.numbers ul li:last-child {
  border-right: 1px solid #d9dada;
}
/* line 120, ../../sass/agents.scss */
.numbers ul li h2 {
  font-size: 2em;
  padding: 1em 0;
}
/* line 125, ../../sass/agents.scss */
.numbers ul li h3 {
  padding: 0 0 2em 0;
}

/* line 135, ../../sass/agents.scss */
.how-it-works h2 {
  font-size: 2em;
}
/* line 138, ../../sass/agents.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #bebebe;
  width: 2em;
  height: 0.1em;
  margin: 0.4em auto;
}
/* line 147, ../../sass/agents.scss */
.how-it-works ul {
  border-bottom: 1px solid #bebebe;
  overflow: hidden;
  *zoom: 1;
}
/* line 149, ../../sass/agents.scss */
.how-it-works ul li {
  float: left;
  width: 33.3333333%;
}
/* line 169, ../../sass/agents.scss */
.how-it-works ul li .detail {
  margin-bottom: 2em;
}
/* line 171, ../../sass/agents.scss */
.how-it-works ul li .detail .number {
  display: block;
  margin: 1em auto 2em auto;
  padding: 0.4em;
  font-size: 2em;
  color: #bebebe;
  border: 1px solid #bebebe;
  width: 1em;
  height: 1em;
  background-color: #efefef;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 184, ../../sass/agents.scss */
.how-it-works ul li .detail h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 1em 0;
}
/* line 190, ../../sass/agents.scss */
.how-it-works ul li .detail p {
  padding: 0 4em;
  color: grey;
  line-height: 1.4em;
}
/* line 196, ../../sass/agents.scss */
.how-it-works ul li .detail .fa-newspaper-o {
  color: #eca95a;
}
/* line 199, ../../sass/agents.scss */
.how-it-works ul li .detail .fa-pencil {
  color: #ac9cd2;
}
/* line 202, ../../sass/agents.scss */
.how-it-works ul li .detail .fa-users {
  color: #4d99cb;
}

/* line 212, ../../sass/agents.scss */
.why-choose-us h2 {
  margin: 2em auto;
  font-size: 2em;
}
/* line 216, ../../sass/agents.scss */
.why-choose-us h2:after {
  display: block;
  content: "";
  background-color: #bebebe;
  width: 2em;
  height: 0.1em;
  margin: 0.4em auto;
}
/* line 226, ../../sass/agents.scss */
.why-choose-us .col-2 {
  float: left;
  width: 50%;
}
/* line 231, ../../sass/agents.scss */
.why-choose-us ul {
  border-bottom: 1px solid #bebebe;
}
/* line 233, ../../sass/agents.scss */
.why-choose-us ul li {
  position: relative;
  margin: 1em auto;
  min-height: 10em;
}
/* line 237, ../../sass/agents.scss */
.why-choose-us ul li i {
  position: absolute;
  left: 3em;
}
/* line 241, ../../sass/agents.scss */
.why-choose-us ul li .desc {
  padding: 0 6em 2em 10em;
  text-align: left;
}
/* line 244, ../../sass/agents.scss */
.why-choose-us ul li .desc h3 {
  font-size: 2em;
}
/* line 247, ../../sass/agents.scss */
.why-choose-us ul li .desc p {
  margin-top: 0.5em;
  color: grey;
}
/* line 255, ../../sass/agents.scss */
.why-choose-us .fa-check {
  color: #69BD94;
}
/* line 259, ../../sass/agents.scss */
.why-choose-us .fa-refresh {
  color: #EBA860;
}
/* line 263, ../../sass/agents.scss */
.why-choose-us .fa-bar-chart {
  color: #F06E80;
}
/* line 267, ../../sass/agents.scss */
.why-choose-us .fa-tag {
  color: #1FB5E8;
}
/* line 271, ../../sass/agents.scss */
.why-choose-us .fa-user {
  color: #AE7CC2;
}
/* line 275, ../../sass/agents.scss */
.why-choose-us .fa-thumbs-up {
  color: #EB7F5F;
}

/* line 280, ../../sass/agents.scss */
footer {
  margin: 1em auto;
}
/* line 284, ../../sass/agents.scss */
footer nav ul {
  padding-left: 4em;
}
/* line 286, ../../sass/agents.scss */
footer nav ul li {
  line-height: 4em;
  float: left;
  margin-left: 2em;
}
/* line 291, ../../sass/agents.scss */
footer nav ul li a {
  text-decoration: none;
  color: #4f4f4f;
}
/* line 299, ../../sass/agents.scss */
footer ul.sns-links {
  padding-right: 4em;
  float: right;
}
/* line 302, ../../sass/agents.scss */
footer ul.sns-links li {
  float: left;
  line-height: 4em;
  padding-right: 2em;
}
/* line 307, ../../sass/agents.scss */
footer ul.sns-links .fa-facebook {
  color: #3C5A9A;
}
/* line 310, ../../sass/agents.scss */
footer ul.sns-links .fa-twitter {
  color: #1AB2E8;
}
